<div class="container">
  <div class="col-xs-12">
    <app-game-control 
    (started) = "changeNumber($event)" 
    [intervalFunction] = "counter"
    (stoppedDisplay) = "resetGame($event)"> 
    </app-game-control>


    <div class="outer"
    #outer>
      <div class="inner-even"
      #evenComponent>
        <app-even
          *ngFor="let value of even">
            {{value}} is Even
        </app-even>
      </div>

      <div class="inner-odd"
      #oddComponent>
        <app-odd
          *ngFor="let value of odd">
        {{value}} is Odd
        </app-odd>
      </div>
    </div>
  </div>
</div>